# Copy this file to .secrets and fill in the values for local act runs.
# act will load these as GitHub Secrets for your workflows.

GITHUB_TOKEN=ghp_your_local_token_or_placeholder
CODECOV_TOKEN=your_codecov_token_if_testing_upload
REVIEWDOG_GITHUB_API_TOKEN=${GITHUB_TOKEN}

